<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>

    <link rel='stylesheet' id='child-understrap-styles-css'
    href='https://www.policenow.org.uk/wp-content/themes/policenow/css/child-theme.min.css' media='all' />

    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js' id='jquery-js'></script>

  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div class="container mt-5 mb-5">
      <div class="row">
        <div class="col-12">
          <div id="app"></div>
        </div>
      </div>
    </div>
    <!-- built files will be auto injected -->



    <script
    src='https://www.policenow.org.uk/wp-content/themes/policenow/src/js/platformselector/jquery.platformselector.js'>
  </script>
  <script src='https://www.policenow.org.uk/wp-content/themes/policenow/js/child-theme.min.js?v2'></script>

  </body>
</html>
