<template>
    <button
    class="btn btn-light answer answer-yes"
    :class="{active:selected == 'yes'}"
    @click="buttonAnswer('yes')">Yes</button>

    <button
    class="btn btn-light answer answer-no"
    :class="{active:selected == 'no'}"
    @click="buttonAnswer('no')">No</button>

<!-- Display Message to help -->
    <modal ref="modalName">
        <template v-slot:header--title></template>
        <template v-slot:header--close></template>
        <template v-slot:body>

            <div v-if="gCurrentQuestionquestionPopupOn.includes('correct')" v-html="gCurrentQuestionCorrectPopupMessage"></div>
            <div v-else-if="gCurrentQuestionquestionPopupOn.includes('error') || gCurrentQuestionquestionPopupOn.includes('both')" v-html="gCurrentQuestionErrorPopupMessage"></div>

        </template>

        <!-- <template v-slot:footer>
            <div class="pn-modal--footer-50-50">
                <div class="col-one">
                    <h4>Do you want to continue the eligibility check?</h4>
                </div>

                <div class="col-two">
                    <button class="btn btn-warning" @click="$refs.modalName.closeModal()">YES</button>
                    <button class="btn btn-warning" @click="$refs.modalName.closeModal()">NO</button>
                </div>
            </div>
        </template> -->
    </modal>

</template>

<script>
import Modal from "./Modal.vue";

export default {
    name: 'Answers',
    components: {
        Modal
    },
    props: {
        sectionNumber: Number,
        questionNumber: Number,
        questionIsActive: Boolean,
        subQuestionNumber: Number,
        lastQuestion: Boolean,
        evQuestion: Array,
        subQuestionRequired: Boolean,
        answer: String,
        userAnswer: String,
        questionErrorSet: Boolean
    },
    data() {
        return {
            // For adding an active class to buttons
            selected: null,
            questionErrorPopup: null,
            yesActive: true,
            noActive: true,
            eligibilityVersion: this.$store.state.eligibilityVersion
        }
    },
    computed: {
        gCurrentQuestionErrorPopupStatus(){
            // See if this section is complete by passing the getter the current section number
            return this.$store.getters.gCurrentQuestionErrorPopupStatus(this.sectionNumber,this.questionNumber);
        },
        gCurrentQuestionErrorPopupMessage(){
            // See if this section is complete by passing the getter the current section number
            return this.$store.getters.gCurrentQuestionErrorPopupMessage(this.sectionNumber,this.questionNumber);
        },
        gCurrentQuestionCorrectPopupMessage(){
            // See if this section is complete by passing the getter the current section number
            return this.$store.getters.gCurrentQuestionCorrectPopupMessage(this.sectionNumber,this.questionNumber);
        },
        gCurrentQuestionquestionPopupOn(){
            // See if this section is complete by passing the getter the current section number
            return this.$store.getters.gCurrentQuestionquestionPopupOn(this.sectionNumber,this.questionNumber);
        }
    },
    updated() {
        this.$nextTick(function () {
            //* Code that will run only after the vue instance has been updated

            // Check to see if this question & answers are shown, based on the version of the check the user has picked
            // IF this one is not shown, then set the next question as active, else do the checks on the user pressing the answer (see buttonAnswer below)
            let eligibilityVersion = this.$store.state.eligibilityVersion

            if( this.evQuestion.includes(eligibilityVersion) ){
                console.log('shown')
            } else {
                 console.log('hidden')
                this.$store.commit({
                        type: 'mNextQuestionIsActive',
                        sectionNumber: this.sectionNumber,
                        questionNumber: this.questionNumber,
                        // For setting question progression
                        // If true the question will not progress until the sub question is answered
                        subQuestionRequired: false // answer is correct & sub question is not needed
                    });
            }

        })
    },
    methods: {
        buttonAnswer(answerValue) {

            let userAnswer = answerValue,
                errorPopupStatus = this.gCurrentQuestionErrorPopupStatus;
            // console.log(userAnswer);

            this.selected = answerValue;

            // Disable the 'other' button after selection,
            // along with the logic on the button above
            if ( answerValue == 'yes' ) {
                this.noActive = false
            } else if ( answerValue == 'no' ) {
                this.yesActive = false
            }

            //* If answer is correct
            // Update the store with the details and set the answer was correct
            if ( this.answer == answerValue ) {
                this.$store.commit({
                    type: 'mUserAnswer',
                    sectionNumber: this.sectionNumber,
                    questionNumber: this.questionNumber,
                    subQuestionNumber: this.subQuestionNumber,
                    userAnswer: userAnswer,
                    subQuestionRequired: this.subQuestionRequired,
                    questionErrorSet: false // answer is correct
                });


                // If it is correct move to the next question & remove the need for a follow up question
                if ( this.answer == answerValue && this.subQuestionRequired ) {
                    this.$store.commit({
                        type: 'mNextQuestionIsActive',
                        sectionNumber: this.sectionNumber,
                        questionNumber: this.questionNumber,
                        // For setting question progression
                        // If true the question will not progress until the sub question is answered
                        subQuestionRequired: false // answer is correct & sub question is not needed
                    });

                    // IF this is the last question of the section
                    if ( this.lastQuestion ) {
                        // Set the section as complete & show the 'NEXT' section button
                        // ADDITIONAL: This logic can also be found in Answers.vue for subquestions progression
                        this.$store.commit({
                            type: 'mSectionComplete',
                            sectionNumber: this.sectionNumber
                        });

                        console.log('Subquestion skipped & Section complete')
                    }

                }

                // IF we need the modal, open it
                if ( errorPopupStatus && this.gCurrentQuestionquestionPopupOn.includes('correct') || errorPopupStatus && this.gCurrentQuestionquestionPopupOn.includes('both') ) {
                    this.$refs.modalName.openModal()
                }
            }

            //* If the answer is wrong
            else {
                // Update the store with the details and set the answer was wrong
                this.$store.commit({
                    type: 'mUserAnswer',
                    sectionNumber: this.sectionNumber,
                    questionNumber: this.questionNumber,
                    userAnswer: userAnswer,
                    questionErrorSet: true, // answer is wrong
                });

                // Set the error state to show an error
                // this.$store.state.errorState = true

                // IF we need the modal, open it
                if ( errorPopupStatus && this.gCurrentQuestionquestionPopupOn.includes('error') || errorPopupStatus && this.gCurrentQuestionquestionPopupOn.includes('both') ) {
                    this.$refs.modalName.openModal()
                }
            }

            //* If this is the last question and the sub question is NOT needed
            // show the 'NEXT' section button
            if ( this.lastQuestion && this.subQuestionRequired == false ) {
            // if ( this.lastQuestion ) {
                // Set the section as complete & show the 'NEXT' section button
                // ADDITIONAL: This logic can also be found in Answers.vue for subquestions progression
                this.$store.commit({
                    type: 'mSectionComplete',
                    sectionNumber: this.sectionNumber
                });

                console.log('Section complete')

            }

            //* If this is NOT the last question make the next question active
            // no matter the answer
            // UNLESS we need a sub question answering
            if ( !this.lastQuestion ) {
                this.$store.commit({
                    type: 'mNextQuestionIsActive',
                    sectionNumber: this.sectionNumber,
                    questionNumber: this.questionNumber,
                    // For setting question progression
                    // If true the question will not progress until the sub question is answered
                    subQuestionRequired: this.subQuestionRequired
                });
            }
        }
    }
}
</script>

<style lang="scss">
#elegiblity-checker{
    .btn {
        margin-right: 2rem;

        &:last-of-type {
            margin-right: unset;
        }

        &[disabled] {
            cursor: not-allowed;
        }

        &-light {

            color: var(--e-global-color-primary);
            #{$hover} {
                color: var(--e-global-color-256ba6d8);
                background-color: var(--e-global-color-primary);
            }
        }
    }
}


// MEDIA QUERIES
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    #elegiblity-checker{
        .question-group--answers {
            display: flex;
            margin-top: 1.5rem;
            justify-content: space-between;
        }
    }
}

// Small devices (landscape phones, less than 768px)
// @media (max-width: 767.98px) {}

// Medium devices (tablets, less than 992px)
// @media (max-width: 991.98px) {}

// Large devices (desktops, less than 1200px)
// @media (max-width: 1199.98px) {}
</style>