<template>
    <button
    class="btn btn-light answer answer-yes"
    :class="{active:selected == 'yes'}"
    v-on:click.once="buttonAnswer('yes')">Yes</button>

    <button
    class="btn btn-light answer answer-no"
    :class="{active:selected == 'no'}"
    v-on:click.once="buttonAnswer('no')">No</button>
<!-- Display Message to help -->
    <modal ref="modalName">
        <template v-slot:header--title></template>
        <template v-slot:header--close></template>
        <template v-slot:body>

            <div v-if="gCurrentSubQuestionquestionPopupOn.includes('correct')" v-html="gCurrentSubQuestionCorrectPopupMessage"></div>
            <div v-if="gCurrentSubQuestionquestionPopupOn.includes('error') || gCurrentSubQuestionquestionPopupOn.includes('both')" v-html="gCurrentSubQuestionErrorPopupMessage"></div>

        </template>

        <!-- <template v-slot:footer>
            <div class="pn-modal--footer-50-50">
                <div class="col-one">
                    <h4>Do you want to continue the eligibility check?</h4>
                </div>

                <div class="col-two">
                    <button class="btn btn-warning" @click="$refs.modalName.closeModal()">YES</button>
                    <button class="btn btn-warning" @click="$refs.modalName.closeModal()">NO</button>
                </div>
            </div>
        </template> -->
    </modal>
</template>

<script>
import Modal from "./Modal.vue";

export default {
    name: 'AnswersSub',
    components: {
        Modal
    },
    props: {
        sectionNumber: Number,
        questionNumber: Number,
        lastQuestion: Boolean,
        subQuestionNumber: Number,
        subQuestionIsActive: Boolean,
        subAnswer: String,
        subUserAnswer: String,
        subQuestionErrorSet: Boolean
    },
    data() {
        return {
            // For adding an active class to buttons
            selected: null,
            questionErrorPopup: null,
            yesActive: true,
            noActive: true
        }
    },
    computed: {
        gCurrentSubQuestionErrorPopupStatus(){
            // See if this section is complete by passing the getter the current section number
            return this.$store.getters.gCurrentSubQuestionErrorPopupStatus(this.sectionNumber,this.subQuestionNumber);
        },
        gCurrentSubQuestionCorrectPopupMessage(){
            // See if this section is complete by passing the getter the current section number
            return this.$store.getters.gCurrentSubQuestionCorrectPopupMessage(this.sectionNumber,this.subQuestionNumber);
        },
        gCurrentSubQuestionErrorPopupMessage(){
            // See if this section is complete by passing the getter the current section number
            return this.$store.getters.gCurrentSubQuestionErrorPopupMessage(this.sectionNumber,this.subQuestionNumber);
        },
        gCurrentSubQuestionquestionPopupOn(){
            // See if this section is complete by passing the getter the current section number
            return this.$store.getters.gCurrentSubQuestionquestionPopupOn(this.sectionNumber,this.subQuestionNumber);
        }
    },
    methods: {
        buttonAnswer(answerValue) {

            let subUserAnswer = answerValue,
                errorPopupStatus = this.gCurrentSubQuestionErrorPopupStatus;
                console.log(errorPopupStatus)
            //   console.log(subUserAnswer);

            this.selected = answerValue;

            //* If this is a subquestion of a question that is the last question
            // of a section then set the section as complete & show the 'NEXT' section button
            //* ADDITIONAL: This logic can also be found in Answers.vue for single questions progression
            if ( this.lastQuestion == true) {
                // Set the section as complete
                this.$store.commit({
                    type: 'mSectionComplete',
                    sectionNumber: this.sectionNumber
                });

                // Move to the next section
                // this.$store.commit({
                //     type: 'mActiveSectionAddOne'
                // });

            }

            // Disable the 'other' button after selection,
            // along with the logic on the button above
            if ( answerValue == 'yes' ) {
                this.noActive = false
            } else if ( answerValue == 'no' ) {
                this.yesActive = false
            }

            //* If answer is correct
            // Update the store with the details and set the answer was correct
            if ( this.subAnswer == answerValue ) {
                this.$store.commit({
                    type: 'mUserSubAnswer',
                    sectionNumber: this.sectionNumber,
                    parentQuestionNumber: this.subQuestionNumber,
                    subQuestionNumber: this.subQuestionNumber,
                    subUserAnswer: subUserAnswer,
                    questionErrorSet: false // answer is correct
                });

                // Set the error state to NOT show an error
                this.$store.state.errorState = false

                // IF we need the modal, open it
                if ( errorPopupStatus && this.gCurrentSubQuestionquestionPopupOn.includes('correct') || errorPopupStatus && this.gCurrentSubQuestionquestionPopupOn.includes('both') ) {
                    this.$refs.modalName.openModal()
                }
            }

            //* If the answer is wrong
            else {
                // Update the store with the details and set the answer was wrong
                this.$store.commit({
                    type: 'mUserSubAnswer',
                    sectionNumber: this.sectionNumber,
                    parentQuestionNumber: this.subQuestionNumber,
                    subQuestionNumber: this.subQuestionNumber,
                    subUserAnswer: subUserAnswer,
                    questionErrorSet: true // answer is wrong
                });

                // IF we need the modal, open it
                if ( errorPopupStatus && this.gCurrentSubQuestionquestionPopupOn.includes('error') || errorPopupStatus && this.gCurrentSubQuestionquestionPopupOn.includes('both') ) {
                    this.$refs.modalName.openModal()
                }

                // Set the error state to show an error
                this.$store.state.errorState = true
            }

            //* Whatever the answer, move to the next question
            this.$store.commit({
                type: 'mNextQuestionIsActive',
                sectionNumber: this.sectionNumber,
                questionNumber: this.questionNumber,
                // For setting question progression
                // If true the question will not progress until the sub question is answered
                subQuestionRequired: false
            });


            // if ( this questions number is = to the error set number, then unset the error){

            // }
        }
    }
}
</script>

<style lang="scss">
#elegiblity-checker{
    .btn {
        margin-right: 2rem;

        &:last-of-type {
            margin-right: unset;
        }

        &-light {
            #{$hover} {
                color: var(--e-global-color-256ba6d8);
                background-color: var(--e-global-color-primary);
            }
        }
    }
}
</style>