<template>
    <secton id="error-centre">
        <transition name="fade" mode="out-in">
            <div v-if="getErrorState === false" class="error">
                <span>&#x2714;</span>
            </div>
            <div v-else class="error error-active" >
            <!-- //* Add this back in to activate a modal, and uncomment the css below -->
            <!-- <div v-else class="error error-active" @click="$refs.modalName.openModal()" > -->
                <span>!</span>
            </div>
        </transition>

        <!-- For debugging, set 'debug' to true in VueX store -->
        <div class="debugger" v-if="this.$store.state.debug">
          <p>Wrong answers given on:<br/>{{$store.state.errorStateSetOnQuestionNumbers}}</p>
        </div>

    </secton>

    <!-- Display Message to help -->
    <modal ref="modalName" v-if="getErrorState == true">
      <template v-slot:header>
        <h1>One or more of your answers may make you ineligible for the Police Now National Graduate Programme.</h1>
      </template>

      <template v-slot:body>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <div class="actions mt-5">
            <a href="#" class="btn">Suggested action 1</a>
            <a href="#" class="btn">Suggested action 2</a>
            <a href="#" class="btn">Suggested action 3</a>
        </div>

      </template>

      <template v-slot:footer>
        <!-- <div>
          <button @click="$refs.modalName.closeModal()">Cancel</button>
          <button @click="$refs.modalName.closeModal()">Save</button>
        </div> -->
      </template>
    </modal>
</template>

<script>
import Modal from "./Modal.vue";

export default {
    name: 'ErrorCenter',
    components: {
        Modal
    },
    mounted() {
    //    this.$nextTick(function () {

    //        // Keep checking to see if we have set any suggestions on the summary section
    //        // if we have then we know that there is an error
    //        // https://forum.vuejs.org/t/setting-a-value-in-vuex-from-within-mounted/108532
    //         window.setInterval(() => {

    //             let myElement = document.querySelectorAll("#summary .suggestion");
    //             console.log(myElement)
    //             if(myElement.length <= 0){
    //                 // element DOES NOT exist
    //                 // console.log('FALSE nothing is there')
    //                 this.$store.commit('mSetErrorState', false);
    //             }

    //             else if(myElement.length > 0){
    //                 // element DOES exists
    //                 // console.log('TRUE something is there')
    //                 this.$store.commit('mSetErrorState', true);
    //             }
    //         }, 1000);
    //     })
    },
    computed: {
        getErrorState() {
            // Check to see if the error has been set
            return this.$store.getters.gErrors;
        }
    }
}
</script>

<style lang="scss">
//* to show pointer
// #elegiblity-checker {
//     .error {
//         &.error-active {
//             cursor: pointer;
//         }
//     }
// }

  #elegiblity-checker #error-centre .debugger p{
    font-size: 12px;
  }
</style>