<template>
    <section id="intro">
        <p>Take a few minutes to complete our eligibility checker to give you a better idea of whether we will be able to progress your application.</p>

        <p>Please can you confirm which programme you are interested in applying for?</p>

        <button class="btn btn-info mt-5 start" @click="startChoice('nglp')">National Graduate Leadership Programme</button>

        <button class="btn btn-info mt-5 start" @click="startChoice('ndp')">National Detective Programme</button>
    </section>
</template>

<script>
export default {
    name: 'Intro',
    methods: {
        nextSection(){
            this.$store.commit({
                type: 'mActiveSectionAddOne'
            });
        },

        startChoice(choice) {
            // console.log('choice = '+choice)
            let userChoice = choice

            this.$store.commit({
                type: 'mStartChoice',
                choice: userChoice
            });

            //* For Tracking
            // For seeing which button the pick - NGLP or NDP
            // https://matteo-gabriele.gitbook.io/vue-gtag/v/next/methods/events
            this.$gtag.event(userChoice)
        }
    }
}
</script>

<style lang="scss">
#elegiblity-checker {
    #intro {
        .btn {

        }
    }
}

// MEDIA QUERIES
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    #elegiblity-checker .start {
        width: 100%;
    }
}

// // Small devices (landscape phones, less than 768px)
// @media (max-width: 767.98px) {}

// // Medium devices (tablets, less than 992px)
// @media (max-width: 991.98px) {}

// // Large devices (desktops, less than 1200px)
@media (min-width: 992px) {
    #elegiblity-checker #intro {
        width: 92%;
    }
}
</style>