<template>
    <transition name="modal-fade">
        <div class="pn-modal" v-if="show">
            <div class="pn-modal--backdrop" @click="closeModal()"/>

            <div class="pn-modal--dialog">
                <div class="pn-modal--header">
                    <div class="header--title">
                        <slot name="header--title" />
                    </div>
                    <div class="header--close">
                        <slot name="header--close-button">
                            <button type="button" class="btn btn-link modal--close tool-tip" @click="closeModal()">

                                <div class="left">
                                    <p>Close &amp; continue</p>
                                    <i></i>
                                </div>

                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                                    <g transform="translate(0 -0.001)">
                                        <path
                                            d="M.232,1.353A.793.793,0,0,1,1.353.233L10,8.88,18.647.233a.793.793,0,0,1,1.121,1.121L11.121,10l8.647,8.647a.793.793,0,0,1-1.121,1.121L10,11.121,1.353,19.768A.793.793,0,0,1,.232,18.648L8.879,10,.232,1.353Z" />
                                    </g>
                                </svg>
                            </button>
                        </slot>
                    </div>
                </div>

                <div class="pn-modal--body">
                    <slot name='body' />
                </div>

                <div class="pn-modal--footer">
                    <slot name="footer">
                        <div class="pn-modal--footer-50-50">
                            <div class="col-one">
                                <h4>Do you want to continue the eligibility check?</h4>
                            </div>

                            <div class="col-two">
                                <button class="btn btn-warning" @click="continueYes()">YES</button>
                                <button class="btn btn-warning" @click="continueNo()">NO</button>
                            </div>
                        </div>
                    </slot>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        name: "Modal",
        data() {
            return {
                show: false
            };
        },
        mounted() {
            //* Close modal with 'esc' key
            document.addEventListener("keydown", (e) => {
                if (e.keyCode == 27) {
                    this.closeModal();
                }
            });
        },
        methods: {
            openModal() {
                this.show = true;
                document.querySelector('body').classList.add('overflow-hidden');
            },
            closeModal() { // Press the 'X'
                this.show = false;
                document.querySelector('body').classList.remove('overflow-hidden');
            },
            continueNo() { // Close and end the questions
                this.show = false;
                document.querySelector('body').classList.remove('overflow-hidden');
                // Skip to the summaries section
                this.$store.commit({
                    type: 'mSkipToSummaries'
                });
            },
            continueYes() { // Close and carry on
                this.show = false;
                document.querySelector('body').classList.remove('overflow-hidden');
            },
        }
    };
</script>


<style lang="scss">
#elegiblity-checker {

    .pn-modal {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 9;
        overflow-x: hidden;
        overflow-y: auto;
        display: flex;
        align-content: center;
        align-items: center;

        &--backdrop {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 1;
        }

        &--dialog {
            position: relative;
            width: 70vw;
            max-width: 680px;
            background-color: var(--e-global-color-256ba6d8);
            box-shadow: 0px 3px 6px #0000004D;
            border-radius: 5px;
            margin: 50px auto;
            display: flex;
            flex-direction: column;
            z-index: 2;

            @media screen and (max-width: 992px) {
                width: 90vw;
            }
        }

        &--header {
            display: grid;
            grid-template-columns: 1.8fr 0.2fr;
            grid-template-rows: 1fr;
            gap: 0px 0px;
            grid-template-areas: "header--title header--close";
            margin: 6rem 6rem 2rem;

            // Extra small devices (portrait phones, less than 576px)
            @media (max-width: 575.98px) {
                margin: 4rem 6rem 1rem;
            }

            .header--title {
                grid-area: header--title;

                h1 {
                    @include font-size(18, 4vw, 22);
                    font-weight: 600;
                }
            }

            .header--close {
                grid-area: header--close;

                display: flex;
                justify-content: flex-end;

                button {
                    box-shadow: unset;
                    margin: -4rem -4rem 0 0;

                    #{$hover} {
                        fill: var(--e-global-color-secondary);
                    }
                }
            }
        }

        &--body {
            margin: 2rem 6rem;
            overflow: auto;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            // Extra small devices (portrait phones, less than 576px)
            @media (max-width: 575.98px) {
                margin: 2rem 3rem;
                max-height: 54vh;
                overflow-y: scroll;

            }
        }

        &--footer {
            margin: 2rem 6rem 6rem;

            // Extra small devices (portrait phones, less than 576px)
            @media (max-width: 575.98px) {
                margin: 2rem 3rem 3rem;
            }

            // Question help content
            .pn-modal--footer-50-50 {
                padding-top: 4rem;
                border-top: 2px solid var(--e-global-color-271421bd);
                display: grid;
                grid-template-columns: 1.3fr 1fr;
                grid-template-rows: 1fr;
                gap: 0px 50px;
                grid-template-areas: "col-one col-two";

                // Extra small devices (portrait phones, less than 576px)
                @media (max-width: 575.98px) {
                    display: block;
                }

                .col-one,
                .col-two {
                    display: flex;
                    align-content: center;
                    align-self: center;
                }

                .col-one {
                    grid-area: col-one;

                    h4 {
                        @include font-size(20, 4vw, 26);
                    }
                }

                .col-two {
                    grid-area: col-two;
                    justify-content: flex-end;
                    // Extra small devices (portrait phones, less than 576px)
                    @media (max-width: 575.98px) {
                        margin-top: 2rem;
                        justify-content: space-between;
                    }
                }
            }

        }

        // Error Centre content
        .actions {
            a {
                color: var(--e-global-color-primary);
                margin: .5rem 1rem
            }

        }
    }

    .modal-fade-enter-active,
    .modal-fade-leave-active {
        transition: opacity 0.5s;
    }

    .modal-fade-enter,
    .modal-fade-leave-to {
        opacity: 0;
    }
}
</style>