<template>
    <secton class="prev-next">
        <button v-if="this.$store.state.debug && this.$store.state.activeSection != 1" @click="prevSection" class="btn btn-light mr-md-3 prev">Previous</button>
        <button v-if="isCurrentSectionComplete" @click="nextSection" class="btn btn-info next">Next</button>
    </secton>
</template>

<script>

export default {
    name: 'PrevNext',
    props: {
        sectionNumber: Number
    },
    computed: {
        isCurrentSectionComplete(){
            // See if this section is complete by passing the getter the current section number
            return this.$store.getters.gIsCurrentSectionComplete(this.sectionNumber);
        }
    },
    methods: {
        prevSection(){
            this.$store.commit({
                type: 'mActiveSectionMinusOne'
            });
        },
        nextSection(){
            this.$store.commit({
                type: 'mActiveSectionAddOne'
            });
        }

    }
}
</script>

<style lang="scss">
.prev-next {
    display: flex;
    margin-top: 3rem;
    justify-content: flex-end;

    .btn.next {
        justify-self: flex-end;
    }
}
</style>