<template>
    <div v-show="showQuestion" class="question-group"
        :class="{active:questionIsActive == true && questionIsActive == true}">
        <!-- <label class="sr-none">Question number {{ questionNumber }} is active {{ questionIsActive }}</label> -->

        <div class="question-group--questions">
            <span v-if="preText !== ''" v-html="preText" class="pre-text"></span>
            <span v-html="question" class="question"></span>

            <!-- For debugging, set 'debug' to true in VueX store -->
            <div class="debugger" v-if="this.$store.state.debug">
                <strong> -- QUESTION DEBUGGING --</strong>
                <div>
                    <strong><abbr title="For displaying the eligibility checker version being used">Eligibility Checker
                            selected:</abbr></strong> {{$store.state.eligibilityVersion}}<br />

                    <strong><abbr title="For displaying the eligibility checker version being used">Question displayed
                            on EC versions:</abbr></strong> {{evQuestion}}<br />

                    <strong><abbr
                            title="For displaying section numbers &amp; setting properties to sections &amp; questions ">Section
                            #:</abbr></strong> {{sectionNumber}}<br />

                    <strong><abbr title="For setting properties to sections &amp; questions">Question #:</abbr></strong>
                    {{questionNumber}}<br />

                    <strong><abbr title="For activating the next question">Q Active:</abbr></strong>
                    {{questionIsActive}}<br />

                    <strong><abbr title="If we show the error message or not when a wrong answer is given">Q
                            Error:</abbr></strong> {{questionErrorSet}}<br />

                    <strong><abbr title="If the modal is displayed on error">Q Error Pop-up:</abbr></strong>
                    {{questionErrorSet}}<br />

                    <strong><abbr title="Is this the last question of the section">Last Q:</abbr></strong>
                    {{lastQuestion}}<br />

                    <strong><abbr title="The answer we want">Answer:</abbr></strong> {{answer}}<br />

                    <strong><abbr title="The answer user gives">User Answer:</abbr></strong> {{userAnswer}}<br />

                    <strong><abbr title="Does this have a sub-question?">Sub-question Required:</abbr></strong>
                    {{subQuestionRequired}}
                </div>
            </div>
            <!--
                // Teleport the error message/suggestion to the suggestions section summery
                // IF the answer is wrong & not empty & the section is active
                // NOTE: we test if this exists from within the ErrorCentre to show user the errors in their submition
            -->
            <teleport to=".suggestions" v-if="
                userAnswer != answer
                && userAnswer != ''
                && $store.state.summariesActive">

                <div class="suggestion" v-show="errorMessage != ''" :class="{hide: errorMessage == ''}">
                    <span v-html="errorMessage" class="error-message"></span>
                </div>
            </teleport>
        </div>

        <div class="question-group--answers">
            <answers v-bind:subQuestionRequired="subQuestionRequired" v-bind:subQuestionNumber="subQuestionNumber"
                v-bind:sectionNumber="sectionNumber" v-bind:questionNumber="questionNumber"
                v-bind:questionIsActive="questionIsActive" v-bind:lastQuestion="lastQuestion"
                v-bind:evQuestion="evQuestion" v-bind:answer="answer" v-bind:userAnswer="userAnswer"
                v-bind:questionErrorSet="questionErrorSet" />
        </div>


        <div class="question-group--questions sub-questions"
            v-if="subQuestionRequired && userAnswer != answer && userAnswer != ''">
            <span v-html="subPreText" class="pre-text"></span>
            <span v-html="subQuestion" class="question"></span>

            <!-- For debugging, set 'debug' to true in VueX store -->
            <div class="debugger" v-if="this.$store.state.debug">
                <strong> -- SUB-QUESTION DEBUGGING --</strong>
                <div>
                    <strong><abbr title="Does this have a sub-question?">Sub-question Required:</abbr></strong>
                    {{subQuestionRequired}}<br />

                    <strong><abbr title="For activating the next question">Sub-question Active:</abbr></strong>
                    {{subQuestionIsActive}}<br />

                    <strong><abbr title="For activating the next question">Sub-question Active:</abbr></strong>
                    {{subQuestionNumber}}<br />

                    <strong><abbr title="The answer we want">Sub-Answer:</abbr></strong> {{subAnswer}}<br />

                    <strong><abbr title="The answer user gives">User Sub-Answer:</abbr></strong> {{subUserAnswer}}<br />

                    <strong><abbr title="If we show the error message or not when a wrong answer is given">Sub-question
                            Error:</abbr></strong> {{subQuestionErrorSet}}<br />

                    <strong><abbr title="If the modal is displayed on error">Sub-question Error Pop-up:</abbr></strong>
                    {{subQuestionErrorPopup}}<br />
                </div>
            </div>

            <teleport to=".suggestions" v-if="questionErrorPopup
                && userAnswer != answer
                && userAnswer != ''
                && $store.state.summariesActive">

                <div class="suggestion">
                    <span v-html="subErrorMessage" class="error-message"></span>
                </div>
            </teleport>
        </div>

        <div class="question-group--answers sub-answers"
            v-if="subQuestionRequired && userAnswer != answer && userAnswer != ''">
            <answers-sub v-bind:sectionNumber="sectionNumber" v-bind:questionNumber="questionNumber"
                v-bind:lastQuestion="lastQuestion" v-bind:evQuestion="evQuestion"
                v-bind:subQuestionNumber="subQuestionNumber" v-bind:subQuestionIsActive="subQuestionIsActive"
                v-bind:subAnswer="subAnswer" v-bind:subUserAnswer="subUserAnswer"
                v-bind:subQuestionErrorSet="subQuestionErrorSet" />
        </div>

    </div>

    <hr />
</template>

<script>
    import Answers from './Answers.vue'
    import AnswersSub from './AnswersSub.vue'

    export default {
        name: 'Questions',
        components: {
            Answers,
            AnswersSub
        },
        props: {
            sectionNumber: Number,
            questionNumber: Number,
            evQuestion: Array,
            questionIsActive: Boolean,
            lastQuestion: Boolean,
            preText: String,
            question: String,
            answer: String,
            userAnswer: String,
            questionErrorSet: Boolean,
            questionErrorPopup: Boolean,
            errorMessage: String,

            // Sub questions
            subQuestionRequired: Boolean,
            subQuestionIsActive: Boolean,
            subQuestionNumber: Number,
            subEvQuestion: Array,
            subPreText: String,
            subQuestion: String,
            subAnswer: String,
            subUserAnswer: String,
            subQuestionErrorSet: Boolean,
            subQuestionErrorPopup: Boolean,
            subErrorMessage: String
        },
        data() {
            return {
                // For adding an active class to buttons
                eligibilityVersion: '',
                showQuestion: null
            }
        },
        updated() {
            // Code that will run only after the vue instance has been updated
            this.$nextTick(function () {
                let eligibilityVersion = this.$store.state.eligibilityVersion;

                console.log('EV = ' + eligibilityVersion)

                if (this.evQuestion.includes(eligibilityVersion)) {
                    this.showQuestion = true
                } else {
                    this.showQuestion = false
                }
            })
        }
    }
</script>


<style lang="scss">
    #elegiblity-checker {

        .question-group {
            background: #FCFCFC 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 6px #00000029;
            border-radius: 1rem;
            padding: 3rem;
            margin-bottom: 2rem;
            display: grid;
            grid-template-columns: 1fr 0.3fr;
            grid-template-rows: 1fr;
            gap: 0 5rem;
            opacity: .3;

            &.active {
                opacity: 1;
                transition: opacity .5s;
            }

            // To stop hover states when the buttons are not active
            &:not(.active) {
                .btn {
                    background: #fff !important;

                    #{$hover} {
                        color: var(--e-global-color-4ee33241) !important;
                    }
                }
            }

            &--questions {
                // grid-area: 1 / 1 / 2 / 3;

                display: flex;
                flex-direction: column;
                justify-content: center;


                p:last-of-type {
                    margin-bottom: 0;
                }

                ul {
                    margin-top: 2rem;

                    li {
                        font-weight: 400;
                        margin-bottom: 1rem;
                    }
                }
            }

            &--answers {
                // grid-area: 1 / 2 / 2 / 3;
                display: flex;
                align-items: center;
                align-content: center;
                justify-content: flex-end;
            }

            &--questions,
            &--answers {

                &.sub-questions,
                &.sub-answers {
                    margin-top: 3rem;
                }
            }

            .pre-text {
                @include font-size(13, 4vw, 16);
            }

            .question {
                @include font-size(16, 4vw, 20);
                font-weight: bold;
            }

            .error-message {}

        }

        // MEDIA QUERIES
        // Extra small devices (portrait phones, less than 576px)
        @media (max-width: 575.98px) {
            .question-group {
                display: flex;
                flex-direction: column;
            }
        }
    }

    // // Small devices (landscape phones, less than 768px)
    // @media (max-width: 767.98px) {}

    // // Medium devices (tablets, less than 992px)
    // @media (max-width: 991.98px) {}

    // // Large devices (desktops, less than 1200px)
    // @media (max-width: 1199.98px) {}
</style>