<template>
    <section id="section-six" class="section">

        <h2><span>{{ $store.state.sections[5].sectionNumber }}</span> {{ $store.state.sections[5].sectionTitle }}</h2>

        <div v-html="$store.state.sections[5].sectionIntro"></div>

        <questions v-show="$store.state.sections[5].questions[0].questionIsActive"
            v-bind:sectionNumber="sectionNumber"
            v-bind:questionNumber="$store.state.sections[5].questions[0].questionNumber"
            v-bind:evQuestion="$store.state.sections[5].questions[0].evQuestion"
            v-bind:questionIsActive="$store.state.sections[5].questions[0].questionIsActive"
            v-bind:lastQuestion="$store.state.sections[5].questions[0].lastQuestion"
            v-bind:preText="$store.state.sections[5].questions[0].preText"
            v-bind:question="$store.state.sections[5].questions[0].question"
            v-bind:answer="$store.state.sections[5].questions[0].answer"
            v-bind:userAnswer="$store.state.sections[5].questions[0].userAnswer"
            v-bind:questionErrorSet="$store.state.sections[5].questions[0].questionErrorSet"
            v-bind:questionErrorPopup="$store.state.sections[5].questions[0].questionErrorPopup"
            v-bind:errorMessage="$store.state.sections[5].questions[0].errorMessage"
        />

        <questions v-show="$store.state.sections[5].questions[1].questionIsActive"
            v-bind:sectionNumber="sectionNumber"
            v-bind:questionNumber="$store.state.sections[5].questions[1].questionNumber"
            v-bind:evQuestion="$store.state.sections[5].questions[1].evQuestion"
            v-bind:questionIsActive="$store.state.sections[5].questions[1].questionIsActive"
            v-bind:lastQuestion="$store.state.sections[5].questions[1].lastQuestion"
            v-bind:preText="$store.state.sections[5].questions[1].preText"
            v-bind:question="$store.state.sections[5].questions[1].question"
            v-bind:answer="$store.state.sections[5].questions[1].answer"
            v-bind:userAnswer="$store.state.sections[5].questions[1].userAnswer"
            v-bind:questionErrorSet="$store.state.sections[5].questions[1].questionErrorSet"
            v-bind:questionErrorPopup="$store.state.sections[5].questions[1].questionErrorPopup"
            v-bind:errorMessage="$store.state.sections[5].questions[1].errorMessage"
        />

        <prevNext
        v-bind:sectionNumber="sectionNumber" />

    </section>
</template>

<script>
import Questions from './Questions.vue'
import PrevNext from './PrevNext.vue'

export default {
    name: 'SectionSix',
    components: {
        Questions,
        PrevNext
    },
    props: {
        sectionNumber: Number
    },
    computed: {
        sectionNumbers() {
            return this.$store.getters.gSectionNumbers;
        },
        activeSection() {
            return this.$store.getters.gActiveSection;
        },
        sectionStop() {
            return this.$store.getters.gSectionStop;
        }
    }

}
</script>

<style>

</style>