<template>
    <section id="section-one" class="section">

        <h2><span>{{ $store.state.sections[0].sectionNumber }}</span> {{ $store.state.sections[0].sectionTitle }}</h2>

        <div v-html="$store.state.sections[0].sectionIntro"></div>

        <questions v-show="$store.state.sections[0].questions[0].questionIsActive"
            v-bind:sectionNumber="sectionNumber"
            v-bind:questionNumber="$store.state.sections[0].questions[0].questionNumber"
            v-bind:questionIsActive="$store.state.sections[0].questions[0].questionIsActive"
            v-bind:evQuestion="$store.state.sections[0].questions[0].evQuestion"
            v-bind:lastQuestion="$store.state.sections[0].questions[0].lastQuestion"
            v-bind:preText="$store.state.sections[0].questions[0].preText"
            v-bind:question="$store.state.sections[0].questions[0].question"
            v-bind:answer="$store.state.sections[0].questions[0].answer"
            v-bind:userAnswer="$store.state.sections[0].questions[0].userAnswer"
            v-bind:questionErrorSet="$store.state.sections[0].questions[0].questionErrorSet"
            v-bind:questionErrorPopup="$store.state.sections[0].questions[0].questionErrorPopup"
            v-bind:errorMessage="$store.state.sections[0].questions[0].errorMessage"

            v-bind:subQuestionRequired="$store.state.sections[0].questions[0].subQuestionRequired"
            v-bind:subQuestionNumber="$store.state.sections[0].questions[0].subQuestionNumber"
            v-bind:subQuestionIsActive="$store.state.sections[0].questions[0].subQuestionIsActive"
            v-bind:subPreText="$store.state.sections[0].questions[0].subPreText"
            v-bind:subQuestion="$store.state.sections[0].questions[0].subQuestion"
            v-bind:subAnswer="$store.state.sections[0].questions[0].subAnswer"
            v-bind:subUserAnswer="$store.state.sections[0].questions[0].subUserAnswer"
            v-bind:subQuestionErrorSet="$store.state.sections[0].questions[0].subQuestionErrorSet"
            v-bind:subQuestionErrorPopup="$store.state.sections[0].questions[0].subQuestionErrorPopup"
            v-bind:subErrorMessage="$store.state.sections[0].questions[0].subErrorMessage"
        />

        <prevNext
        v-bind:sectionNumber="sectionNumber" />
    </section>
</template>

<script>
import Questions from './Questions.vue'
import PrevNext from './PrevNext.vue'

export default {
    name: 'SectionOne',
    components: {
        Questions,
        PrevNext
    },
    props: {
        sectionNumber: Number
    },
    computed: {
        sectionNumbers() {
            return this.$store.getters.gSectionNumbers;
        },
        activeSection() {
            return this.$store.getters.gActiveSection;
        },
        sectionStop() {
            return this.$store.getters.gSectionStop;
        }
    }
}

</script>

<style>

</style>