<template>
    <section id="summary" class="section">

        <errorCentre />

        <h2>Based on your answers</h2>

        <div class="summary-results summaries--okay" v-show="!getErrorState">
            <div class="title-area">
                <h2>Great, looks like your application would be eligible.</h2>
                <a href="https://www.joiningthepolice.co.uk/application-process/ways-in-to-policing"
                    class="btn btn-default" target="_blank">How to apply</a>
            </div>

            <p>Based on the answers you have provided, you are eligible to apply to your selected programme.</p>

            <p>If you have any questions about your application, please <a href="mailto:selection@policenow.org.uk"
                    target="_blank">contact us</a>.</p>


            <h4 class="mb-4 mt-5">Further Information</h4>



            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                Do you hold a full and clean manual UK driving licence?
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <p>Different police forces have different requirements for driving licences. For some forces a driving licence is essential, and for others it is not. Please see here to find out if your preferred force requires you to have a driving licence. If it is not a requirement, you can still apply. <a href="https://support.policenow.org.uk/hc/en-gb/articles/360018588117-Do-I-need-a-full-driving-licence-" target="_blank">Please see here for more information</a>.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                                Do you have a reasonable level of physical fitness and able to achieve level 5.4 on a bleep test?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <p><small>(A level 5.4 on a bleep test equates to 3 minutes and 40 seconds of running)</small></p>
                            <p>All applicants need to pass a fitness test. Support is given to potential recruits to help them achieve the required fitness standard and you’ll be told what to expect during the relevant stage of the recruitment process. <a href="https://www.policenow.org.uk/wp-content/uploads/2021/04/Medical-and-fitness-information.pdf" target="_blank">More information on the fitness test can be found here</a>.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                                Do you have any underlying health conditions?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            <p>You need to be in good shape both mentally and physically to handle both the physical and emotional demands of being a police officer, like dealing with volatile or traumatic situations and coping with working long shifts. There are support mechanisms in place to support police officers, but it will be important at the relevant stage of recruitment to declare any physical or mental conditions.</p><p>More information on fitness and medical standards can be found <a href="https://www.policenow.org.uk/wp-content/uploads/2021/04/Medical-and-fitness-information.pdf" target="_blank">here</a>, and <a href="https://www.policenow.org.uk/wp-content/uploads/2021/04/Home-Office-medical-standards-for-entry-into-policing.pdf " target="_blank">here</a>.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                                aria-expanded="false" aria-controls="collapseFour">
                                Do you have significant impairments to your eyesight?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body">
                            <p>Your eyesight will be tested at the relevant part of the recruitment process to make sure you are able to undertake the role.</p><p>Specific guidance related to eyesight requirements can be found <a href="https://www.policenow.org.uk/wp-content/uploads/2021/04/Eyesight-standards.pdf" target="_blank">here</a>.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFive">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"
                                aria-expanded="false" aria-controls="collapseFive">
                                Do you have any tattoos and piercings?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                        <div class="card-body">
                            <p>Tattoos and piercings are not a total bar to appointment. However, some tattoos could potentially offend members of the public or colleagues, or could be considered lewd, garish or provocative depending on their size, nature, and location, and some piercings could be a health and safety issue.</p><p>You will be asked to submit photos of your tattoos during the process so that these can be checked against force criteria.</p>
                        </div>
                    </div>
                </div>
            </div>




            <!-- <p><a href="https://www.joiningthepolic§e.co.uk/application-process/ways-in-to-policing" class="btn btn-default" target="_blank">Get started on your application today</a></p> -->

            <p>&nbsp;</p>
            <p><strong>Applications are currently closed</strong></p>
            <p>Register your details to be the first to know when you can apply.</p>

            <p><a href="https://careers.policenow.org.uk/registeryourinterest/CreateAccount.aspx" class="btn btn-info"
                    target="_blank">Register your interest</a></p>

        </div>

        <div class="summary-results summaries--not-okay" v-show="getErrorState">
            <div class="title-area">
                <h2>Your application <i>may not</i> be eligible at this time.</h2>
            </div>

            <p>Based on the answers you have provided, your application might not be eligible at this time.</p>

            <p>If you're not eligible to apply now but will be in the future, <a
                    href="mailto:selection@policenow.org.uk" target="_blank">please register your interest here</a>.</p>

            <p>If you're not eligible now and won't be in the future you may wish to consider other routes into policing
                with different eligibility requirements. You can find out more about alternative routes into policing <a
                    href="https://www.joiningthepolice.co.uk/application-process/ways-in-to-policing"
                    target="_blank">here</a>.</p>

            <div class="suggestions">
                <!-- <h3>What can I do?</h3>

                <div class="suggestion">
                    <h4>Something</h4>
                    <p>Cras mattis consectetur purus sit amet fermentum. Maecenas faucibus mollis interdum. Nulla vitae elit
                        libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue.</p>
                </div>

                <div class="suggestion">
                    <h4>Something</h4>
                    <p>Cras mattis consectetur purus sit amet fermentum. Maecenas faucibus mollis interdum. Nulla vitae elit
                        libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue.</p>
                </div>

                <div class="suggestion">
                    <h4>Something</h4>
                    <p>Cras mattis consectetur purus sit amet fermentum. Maecenas faucibus mollis interdum. Nulla vitae elit
                        libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue.</p>
                </div> -->
            </div>

            <div class="other-routes">

                <!-- <h3>Other routes into the police</h3>

                <h4>Applying directly</h4>

                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis. Donec id elit non mi porta gravida at eget metus. Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget metus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>

                <h4>Applying directly</h4>

                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis. Donec id elit non mi porta gravida at eget metus. Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget metus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p> -->
            </div>
        </div>

        <div class="summary-results-your-answers">

            <button class="btn btn-light" v-on:click="showMyAnswers = !showMyAnswers">
                <span v-if="!showMyAnswers">Show</span>
                <span v-else>Hide</span>
                my answers
            </button>

            <button class="btn btn-light mt-4 mt-md-0" v-on:click="reload">
                start again
            </button>

            <transition name="fade" mode="out-in">

                <div v-show="showMyAnswers" key="26">

                    <p class="mt-5">You have been checking your eligibility for our <b>{{getEligibilityVersion}}</b></p>

                    <div class="your-answers" v-for="(section) in getSections" :key="section.sectionNumber">
                        <h4>Section: {{ section.sectionNumber }} - {{section.sectionTitle}}</h4>

                        <div v-for="(question) in section.questions" :key="question.questionNumber">

                            <div class="ya-question-grid-container">
                                <div class="ya-question-number">
                                    <p class="title question">Question:</p>
                                </div>
                                <div class="ya-question">
                                    <span v-html="question.question"></span>
                                </div>

                                <div class="ya-answer-title">
                                    <p class="title answer">Your Answer:</p>
                                </div>
                                <div class="ya-your-answer">
                                    <span v-if="question.userAnswer != ''">
                                        <p class="answer" :class="{
                                            // if this is a wrong answer, highlight it
                                            wrong: question.answer != question.userAnswer
                                        }" v-html="question.userAnswer"></p>
                                    </span>
                                    <p class="answer none" v-else>You did not answer.</p>
                                </div>
                                <div class="ya-notes-title" v-if="question.userAnswer != question.answer">
                                    <p class="title answer">Notes:</p>
                                </div>
                                <div class="ya-notes-notes" v-if="question.userAnswer != question.answer">
                                    <span v-html="question.errorMessage"></span>
                                </div>
                            </div>


                            <!-- <div class="ya-sub-question-grid-container" v-if="question.subQuestionRequired && question.userAnswer != question.answer"> -->
                            <div class="ya-sub-question-grid-container"
                                v-if="question.subQuestionRequired && question.userAnswer != question.answer && question.userAnswer != ''">
                                <div class="ya-question-number">
                                    <p class="title question">Follow up question:</p>
                                </div>
                                <div class="ya-question">
                                    <span v-html="question.subQuestion"></span>
                                </div>
                                <div class="ya-answer-title">
                                    <p class="title answer">Your Answer:</p>
                                </div>
                                <div class="ya-your-answer">
                                    <span v-if="question.subUserAnswer != ''">
                                        <p class="answer" :class="{
                                            // if this is a wrong answer, highlight it
                                            wrong: question.subAnswer != question.subUserAnswer
                                        }" v-html="question.subUserAnswer"></p>
                                    </span>
                                    <p class="answer none" v-else>You did not answer.</p>
                                </div>
                                <div class="ya-notes-title" v-if="question.subUserAnswer != question.userAnswer">
                                    <p class="title answer">Notes:</p>
                                </div>
                                <div class="ya-notes-notes" v-if="question.subUserAnswer != question.userAnswer">
                                    <span v-html="question.subErrorMessage"></span>
                                </div>

                            </div>

                        </div>
                    </div>

                    <button class="btn btn-light" v-on:click="showMyAnswers = !showMyAnswers">
                        <span v-if="!showMyAnswers">Show</span>
                        <span v-else>Hide</span>
                        my answers
                    </button>
                </div>
            </transition>
        </div>

    </section>
</template>

<script>
    export default {
        name: 'Summaries',
        components: {},
        data() {
            return {
                showMyAnswers: false,
                nothingAnswered: true
            }
        },
        props: {
            sectionNumber: Number
        },
        computed: {
            getErrorState() {

                //* For Tracking
                // When the active state is the summaries number,
                // Check to see if we have any errors,
                // If there are no errors, set an event of eligible
                // Else set an event of not_eligible
                if (this.$store.state.activeSection === 7) {
                    let passFailValue = this.$store.getters.gErrors;

                    if (!passFailValue) {
                        passFailValue = "pn_ec_pass"
                    } else {
                        passFailValue = "pn_ec_fail"
                    }

                    // https://matteo-gabriele.gitbook.io/vue-gtag/v/next/methods/events
                    this.$gtag.event(passFailValue)
                }

                //* Used else where in the section above
                // Check to see if the error has been set
                return this.$store.getters.gErrors;
            },

            getSections() {
                return this.$store.state.sections;
            },

            getEligibilityVersion() {
                let eV = this.$store.state.eligibilityVersion

                if (eV == 'nglp') {
                    return 'National Graduate Leadership Programme '
                }

                if (eV == 'ndp') {
                    return 'National Detective Programme'
                }

                return 'Unknown'

            }
        },
        mounted() {
            this.$store.commit({
                type: 'mSummariesActive'
            });
        },
        methods: {
            reload() {
                location.reload();
            }
        }
    }
</script>

<style lang="scss">
    #elegiblity-checker {

         #accordion {
            .card {
                .card-header {

                    background: #fff;
                    .btn {
                        display: flex;
                        text-align: left;
                        color: var(--e-global-color-4ee33241);
                        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0);
                        text-decoration: none !important;

                        &:before {
                            content: '+';
                            width: 1rem;
                            height: 1rem;
                            display: block;
                            margin-right: 1rem;
                            color: var(--e-global-color-secondary);
                        }

                        &[aria-expanded=true] {
                            &:before {
                                content: '-';
                                margin-right: 1.4rem;
                                color: var(--e-global-color-accent);
                            }
                        }
                    }
                }

                .card-body {
                    padding: 3rem 3rem 1rem;
                }
            }
        }

        // div:empty::before {
        //     content: 'You did not answer any questions';
        //     display: block;
        // }

        .fade-enter-active,
        .fade-leave-active {
            transition: opacity .5s;
        }

        .fade-enter,
        .fade-leave-to {
            opacity: 0;
        }


        #summary {
            .summary-results {

                .title-area {
                    border: 2px solid;
                    border-radius: 1rem;
                    padding: 4rem;
                    margin-bottom: 4rem;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: center;

                    h2 {
                        @include font-size(23, 4vw, 26);
                        font-weight: 600;
                        margin-bottom: 0;
                        flex: 0 1 auto;

                        i {
                            padding: 0 1rem;
                            color: var(--e-global-color-secondary);
                        }
                    }
                }

                &.summaries {
                    &--okay {
                        .title-area {
                            border-color: var(--e-global-color-accent);
                            background-color: var(--e-global-color-accent);
                            color: var(--e-global-color-256ba6d8);
                        }
                    }

                    &--not-okay {
                        .title-area {
                            border-color: var(--e-global-color-secondary);
                        }
                    }
                }
            }

            .suggestions {
                margin-top: 5rem;

                h3 {
                    @include font-size(24, 4vw, 30, .4);
                }

                .suggestion {
                    border: 2px solid var(--e-global-color-accent);
                    border-radius: 1rem;
                    padding: 4rem;
                    margin-top: 4rem;

                    h4 {
                        @include font-size(18, 4vw, 20);
                        font-weight: 600;
                    }

                    p {
                        @include font-size(17, 4vw, 18, .4);

                        &:last-of-type {
                            margin: 0;
                        }
                    }
                }
            }

            .other-routes {
                margin-top: 6rem;

                h3 {
                    margin-bottom: 4rem;
                    @include font-size(24, 4vw, 30, .4);
                }

                h4 {
                    @include font-size(18, 4vw, 22, .4);
                    font-weight: 600;
                }

                p {
                    @include font-size(14, 4vw, 18, .4);
                }
            }

            .summary-results-your-answers {

                padding-top: 2rem;

                .your-answers {
                    margin-top: 5rem;

                    h4 {
                        margin-bottom: 2rem;
                        ;
                    }

                    .ya-question-grid-container,
                    .ya-sub-question-grid-container {
                        display: grid;
                        grid-template-columns: 0.3fr 1fr;
                        grid-template-rows: auto;
                        gap: 0px 0px;
                        grid-template-areas:
                            "ya-question-number ya-question"
                            "ya-answer-title ya-your-answer"
                            "ya-notes-title ya-notes-notes";
                        margin-bottom: 4rem;
                    }

                    .ya-question-number {
                        grid-area: ya-question-number;
                    }

                    .ya-question {
                        grid-area: ya-question;

                        ul {
                            li {
                                @include font-size(16, 4vw, 20);
                                font-weight: 400;
                                margin-bottom: 1rem;
                            }
                        }
                    }

                    .ya-answer-title {
                        grid-area: ya-answer-title;
                    }

                    .ya-your-answer {
                        grid-area: ya-your-answer;
                        text-transform: capitalize;

                        color: var(--e-global-color-accent);

                        .answer {
                            &.wrong {
                                color: var(--e-global-color-secondary);
                            }

                            &.none {
                                color: var(--e-global-color-3a8427e3);
                            }
                        }
                    }

                    .ya-question-number,
                    .ya-answer-title,
                    .ya-notes-title {
                        color: #a7a6a6;
                    }

                }
            }
        }
    }

    // MEDIA QUERIES
    // Extra small devices (portrait phones, less than 576px)
    @media (max-width: 575.98px) {
        #elegiblity-checker #summary .summary-results-your-answers {

            .your-answers {

                .ya-question-grid-container,
                .ya-sub-question-grid-container {
                    display: block;
                }
            }
        }
    }

    // // Small devices (landscape phones, less than 768px)
    // @media (max-width: 767.98px) {}

    // // Medium devices (mobiles & tablets, less than 992px)
    @media (max-width: 991.98px) {
        #elegiblity-checker {
            #summary {
                .summary-results {
                    .title-area {
                        padding: 2rem;

                        a {
                            margin-top: 2rem;
                            width: 100%;
                        }
                    }
                }

                .suggestions {

                    h3 {
                        @include font-size(24, 4vw, 30, .4);
                    }

                    .suggestion {
                        padding: 2rem;
                    }
                }
            }
        }
    }

    // // Medium devices (tablets ONLY)
    // @media (min-width: 768px) and (max-width: 991.98px) {}

    // // Large devices (desktops, less than 1200px)
    // @media (max-width: 1199.98px) {}
</style>