<template>
    <section id="elegiblity-checker" class="nglp">
        <div class="grid-container">
            <div class="title">
                <h1>Check your eligibility</h1>
            </div>

            <transition name="fade-anim">
                <div id="section-numbers" class="sections" v-if="getActiveSectionNumber != 0 && getActiveSectionNumber != gTotalSections" key="section-numbers">
                    <ul>
                        <li
                        v-for="(sectionNumber, index) in sectionNumbers"
                        v-bind:key="index"
                        v-bind:class="{'active' : sectionNumber === activeSection }"
                        >{{ sectionNumber }}</li>
                    </ul>
                </div>
            </transition>

            <div class="error-centre">
                <errorCentre/>
            </div>
        </div>

        <div class="divider">
            <span class="divider-separator"></span>
        </div>

        <transition name="fade">
            <div id="section-numbers" class="sections mobile" v-if="getActiveSectionNumber != 0 && getActiveSectionNumber != gTotalSections" key="section-numbers">
                <ul>
                    <li
                    v-for="(sectionNumber, index) in sectionNumbers"
                    v-bind:key="index"
                    v-bind:class="{'active' : sectionNumber === activeSection }"
                    >{{ sectionNumber }}</li>
                </ul>
            </div>
        </transition>

        <!-- Active section {{ getActiveSectionNumber }} -->
        <transition-group tag="section" name="section-anim"
            mode="out-in">
            <intro
            key="0"
            v-show="getActiveSectionNumber === 0" />



            <sectionOne
            key="1"
            v-show="getActiveSectionNumber === 1"
            v-bind:sectionNumber="1" />



            <sectionTwo
            key="2"
            v-show="getActiveSectionNumber === 2"
            v-bind:sectionNumber="2" />


            <sectionThree
            key="3"
            v-show="getActiveSectionNumber === 3"
            v-bind:sectionNumber="3" />



            <sectionFour
            key="4"
            v-show="getActiveSectionNumber === 4"
            v-bind:sectionNumber="4" />



            <sectionFive
            key="5"
            v-show="getActiveSectionNumber === 5"
            v-bind:sectionNumber="5" />



            <sectionSix
            key="6"
            v-show="getActiveSectionNumber === 6"
            v-bind:sectionNumber="6" />


            <summaries
            key="7"
            v-show ="getActiveSectionNumber === 7" />

            <summaries
            key="7"
            v-if="this.$store.state.debug" />
        </transition-group>
    </section>

</template>

<script>
import ErrorCentre from './components/ErrorCentre.vue'
import Intro from './components/Intro.vue'
import SectionOne from './components/SectionOne.vue'
import SectionTwo from './components/SectionTwo.vue'
import SectionThree from './components/SectionThree.vue'
import SectionFour from './components/SectionFour.vue'
import SectionFive from './components/SectionFive.vue'
import SectionSix from './components/SectionSix.vue'
import Summaries from './components/Summaries.vue'


export default {
    name: 'App',
    components: {
        ErrorCentre,
        Intro,
        SectionOne,
        SectionTwo,
        SectionThree,
        SectionFour,
        SectionFive,
        SectionSix,
        Summaries
    },
    computed: {
        getChoice() {
            return this.$store.getters.gChoice;
        },
        getActiveSectionNumber() {
            return this.$store.getters.gActiveSection;
        },
        sectionNumbers() {
            return this.$store.getters.gSectionNumbers;
        },
        activeSection() {
            return this.$store.getters.gActiveSection;
        },
        gTotalSections() {
            return this.$store.getters.gTotalSections + 1;
        }
    },
    methods: {
        previousStep: function () {
            this.step--;
        },

        nextStep: function () {
            this.step++;
        }
    }
}

</script>

<style lang="scss">

#elegiblity-checker {

    .debugger {
        margin: 3rem 0;
        border: 2px solid var(--e-global-color-3a8427e3);
        border-radius: 5px;
        padding: 2rem;
        text-align: center;

        div {
            margin-top: 1rem;
            text-align: left;
            column-count: 3;
        }
    }

    // globals from Elementor
    --e-global-color-primary: #00AEEF;
    --e-global-color-secondary: #E64097;
    --e-global-color-text: #0F1C1C;
    --e-global-color-accent: #009983;
    --e-global-color-64bf87c4: #4597CB;
    --e-global-color-3a8427e3: #C41230;
    --e-global-color-7b2c68d1: #333092;
    --e-global-color-4ee33241: #383A35;
    --e-global-color-271421bd: #DCDDDE;
    --e-global-color-3d887132: #F2F2F2;
    --e-global-color-256ba6d8: #FFF;
    --e-global-color-254543a4: #07629F;
    --e-global-color-344ffa1b: #017161;
    --e-global-color-18e23f66: #A30520;
    --e-global-color-707d0ede: #07036F;
    --e-global-color-448aae17: #C40569;
    --e-global-color-5ce83bde: #00AEEF;
    --e-global-color-194d4c85: #000000;
    --e-global-color-7b8da183: #000000;
    --e-global-color-38436967: #F46319;
    --e-global-typography-primary-font-family: "Roboto";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Roboto Slab";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Roboto";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Roboto";
    --e-global-typography-accent-font-weight: 500;



    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
    padding: 10rem;


    .tool-tip {
        display: inline-block;
        position: relative;
        text-align: left;

        .left {
            min-width: 170px;
            top: 50%;
            right: 100%;
            margin-right: 20px;
            transform: translate(0, -50%);
            padding: 10px 20px;
            background-color: var(--e-global-color-7b2c68d1);
            border-radius: 4px;
            position: absolute;
            z-index: 99999999;
            box-sizing: border-box;
            box-shadow: 0 1px 8px rgba(56, 58, 53, 0.5);
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.8s;

            p {
                @include font-size(14, 4vw, 14, .3);
                font-weight: normal;
                color: var(--e-global-color-256ba6d8);
                margin-bottom: 0;
            }

            i {
                position: absolute;
                top: 50%;
                left: 100%;
                margin-top: -12px;
                width: 12px;
                height: 24px;
                overflow: hidden;

                &::after {
                    content: '';
                    position: absolute;
                    width: 12px;
                    height: 12px;
                    left: 0;
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(-45deg);
                    background-color: var(--e-global-color-7b2c68d1);
                    box-shadow: 0 1px 8px rgba(56, 58, 53, 0.5);
                }
            }
        }

        &:hover .left {
            visibility: visible;
            opacity: 1;
        }
    }

    .overflow-hidden {
       overflow: hidden;
    }

    .fade-anim-enter-active,
    .fade-anim-leave-active {
        transition: opacity .5s;
    }

    .fade-anim-enter,
    .fade-anim-leave-to {
        opacity: 0;
    }


    .section-anim-enter-active {
        animation: coming 1s;
        animation-delay: 1.2s;
        opacity: 0;
    }
    .section-anim-leave-active {
        animation: going 1s;
    }

    @keyframes going {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-50px);
            opacity: 0;
        }
    }
    @keyframes coming {
        from {
            transform: translateX(-50px);
            opacity: 0;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .btn {
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);

        &-light {
            border: none;
            background: var(--e-global-color-256ba6d8);
        }
    }


    .grid-container {
        display: grid;
        grid-template-columns: 1fr 0.4fr 0.3fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
    }

    .title {
        grid-area: 1 / 1 / 2 / 3;
    }

    .sections {
        grid-area: 1 / 2 / 2 / 3;

        &#section-numbers {
            display: flex;
            align-items: center;
            justify-content: space-between;

            ul {
                margin: 0;
                padding: 0;
                display: flex;
                flex: 1 0 auto;
                align-items: baseline;
                justify-content: space-between;
                list-style: none;
                @include font-size(20, 4vw, 20, .3);

                &:before {
                    content: 'Section \00A0';
                    font-weight: 600;
                    margin-right: .2rem;
                }

                li {
                    display: flex;
                    flex: 1 0 auto;
                    align-items: center;
                    justify-content: center;
                    min-width: 30px;

                    &.active {
                        background: var(--e-global-color-primary);
                        border-radius: 100%;
                        color: var(--e-global-color-3d887132)
                    }
                }
            }

            &.mobile {
                display: none;
            }
        }
    }

    .section {
        h2 {
            @include font-size(20, 4vw, 30, .5);
            margin-bottom: 2rem;
            display: inline-flex;
            flex: 1 0 auto;
            justify-content: space-between;

            span {
                text-align: center;
                background: var(--e-global-color-primary);
                border-radius: 100%;
                color: var(--e-global-color-3d887132);
                width: 5.3rem;
                display: inline-block;
                margin-right: 1.5rem;
            }
        }

        hr {
            display: none;
            &:last-of-type {
                display: none;
            }
        }
    }

    .error-centre {
        grid-area: 1 / 3 / 2 / 4;

        #error-centre {
            .error {
                height: 93px;
                background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='81.747' height='93.971' viewBox='0 0 81.747 93.971'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23009983;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(-675 -5283.999)'%3E%3Cg transform='translate(675 5284)'%3E%3Cpath class='a' d='M169.725,151.46h-63.49a5.354,5.354,0,0,1-5.349-5.346V72.75a5.354,5.354,0,0,1,5.349-5.346h7.936v2.763h-7.936a2.588,2.588,0,0,0-2.587,2.583v73.364a2.588,2.588,0,0,0,2.587,2.583h63.49a2.587,2.587,0,0,0,2.586-2.583V124.3h2.763v21.811A5.353,5.353,0,0,1,169.725,151.46Zm-2.587-7.931H108.822V75.335h5.35V78.1h-2.587v62.669h52.791v-8.531h2.763Zm0-33.1h-2.763V78.1h-2.587V75.335h5.349Zm7.935-7.933H172.31V72.75a2.587,2.587,0,0,0-2.586-2.583h-7.936V67.4h7.936a5.353,5.353,0,0,1,5.349,5.346ZM159.2,80.081H116.758V72.75a7.339,7.339,0,0,1,7.333-7.329h4.672a9.32,9.32,0,0,1,18.432,0h4.671A7.34,7.34,0,0,1,159.2,72.75Zm-39.681-2.763h36.918V72.75a4.573,4.573,0,0,0-4.572-4.566h-7.332V66.8a6.556,6.556,0,1,0-13.111,0v1.381h-7.333a4.573,4.573,0,0,0-4.571,4.566Zm19.841-8.533H136.6V64.819h2.763Z' transform='translate(-100.886 -57.49)'/%3E%3Cg transform='translate(21.267 33.631)'%3E%3Cpath class='a' d='M236.476,252.7a1.382,1.382,0,0,1-.979-.406l-9.9-9.948,1.958-1.951,8.845,8.886,20.819-24.47,2.1,1.789-21.791,25.612a1.374,1.374,0,0,1-1,.485A.292.292,0,0,1,236.476,252.7Zm-5.942-21.633H206.763V228.3h23.771Zm-27.732,0H198.84V228.3h3.96Zm27.732-7.956H206.763v-2.763h23.771Zm-27.732,0H198.84v-2.763h3.96Zm27.732-7.958H206.763V212.39h23.771Zm-27.732,0H198.84V212.39h3.96Z' transform='translate(-198.839 -212.391)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat center;

                &-active {
                    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='91' height='93.971' viewBox='0 0 91 93.971'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23e64097;%7D.b%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(-1145 -109.845)'%3E%3Cg transform='translate(470 -5174.155)'%3E%3Cg transform='translate(675 5284)'%3E%3Cpath class='a' d='M169.725,151.46h-63.49a5.354,5.354,0,0,1-5.349-5.346V72.75a5.354,5.354,0,0,1,5.349-5.346h7.936v2.763h-7.936a2.588,2.588,0,0,0-2.587,2.583v73.364a2.588,2.588,0,0,0,2.587,2.583h63.49a2.587,2.587,0,0,0,2.586-2.583V102.492h2.763v43.622A5.353,5.353,0,0,1,169.725,151.46Zm-2.587-7.931H108.822V75.335h5.35V78.1h-2.587v62.669h52.791V106.982h2.763Zm0-33.1h-2.763V78.1h-2.587V75.335h5.349Zm7.935-7.933H172.31V72.75a2.587,2.587,0,0,0-2.586-2.583h-7.936V67.4h7.936a5.353,5.353,0,0,1,5.349,5.346ZM159.2,80.081H116.758V72.75a7.339,7.339,0,0,1,7.333-7.329h4.672a9.32,9.32,0,0,1,18.432,0h4.671A7.34,7.34,0,0,1,159.2,72.75Zm-39.681-2.763h36.918V72.75a4.573,4.573,0,0,0-4.572-4.566h-7.332V66.8a6.556,6.556,0,1,0-13.111,0v1.381h-7.333a4.573,4.573,0,0,0-4.571,4.566Zm19.841-8.533H136.6V64.819h2.763Z' transform='translate(-100.886 -57.49)'/%3E%3Cg transform='translate(21.267 33.631)'%3E%3Cpath class='a' d='M230.533,231.067h-23.77V228.3h23.771Zm-27.732,0h-3.962V228.3H202.8Zm27.732-7.956h-23.77v-2.763h23.771Zm-27.732,0h-3.962v-2.763H202.8Zm27.732-7.958h-23.77V212.39h23.771Zm-27.732,0h-3.962V212.39H202.8Z' transform='translate(-198.839 -212.391)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Ccircle class='a' cx='17' cy='17' r='17' transform='translate(1202 110)'/%3E%3Cg transform='translate(-3.687 -35)'%3E%3Crect class='b' width='4' height='15' transform='translate(1220.687 151)'/%3E%3Crect class='b' width='4' height='4' transform='translate(1220.687 168)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat center;
                }

                span {
                    display: none;
                }
            }

            .error-message * {
                @include font-size(16, 4vw, 20);
                line-height: 1.2;
            }
        }
    }


    h1 {
        @include font-size(34, 4vw, 48);
        line-height: 1.4;
        font-weight: 400;
    }

    .divider {
        padding: .5rem 0 2.5rem;
        span{
        width: 73px;
        display: inline-block;
        border-top: 2px solid var(--e-global-color-secondary);
        }
    }
}

// MEDIA QUERIES
// Extra small devices (portrait phones, less than 576px)
// @media (max-width: 575.98px) {}

// // Small devices (landscape phones, less than 768px)
// @media (max-width: 767.98px) {}

// // Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    #elegiblity-checker {
        padding: 3rem;

        .grid-container {
            grid-template-columns: .7fr 0 0.4fr;
        }

        .section{

            h2 {
                span {
                    display: none;
                }
            }
            &s {

                &#section-numbers {
                    display: none;

                    &.mobile {
                        display: grid;
                    }
                }
            }
        }
    }
}

// // Medium devices (tablets ONLY)
@media (min-width: 768px) and (max-width: 991.98px) {
    #elegiblity-checker {
        padding: 6rem;

        h1 {
            @include font-size(48, 4vw, 60);
            font-weight: 400;
        }

        .grid-container {
            grid-template-columns: .7fr .4fr .4fr;
        }

        .section{

            h2 {
                span {
                    display: none;
                }
            }
            &s {

                &#section-numbers {
                    display: none;

                    &.mobile {
                        display: grid;
                    }
                }
            }
        }
    }
}

// // Large devices (desktops, less than 1200px)
// @media (max-width: 1199.98px) {}
</style>
