/* ==========================================================================
   GLOBAL STYLES
   ========================================================================== */

// To use with hover states like thi#{$hover} { /* styles here */ }
$hover: "&.active, &:active, &:focus, &:focus-within, &:hover";

@mixin opacity($opacity) {
   opacity: $opacity;
   $opacity-ie: $opacity * 100;
   filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin animate($animate: all, $time: 0.4, $ease: ease) {
   // Passed value in seconds
   $baseTime: 0; // Set default
   $time: ($baseTime + $time); // So we can alter later if needed
   transition: #{$animate} $time+s #{$ease}; // Transition with converted seconds to milliseconds
   backface-visibility: hidden;
   -webkit-filter: blur(0);
}



// UP
// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {}

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {}

// // Medium devices (tablets ONLY)
// @media (min-width: 768px) and (max-width: 991.98px) {}


// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {}

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {}

// DOWN
// Extra small devices (portrait phones, less than 576px)
// @media (max-width: 575.98px) {}

// // Small devices (landscape phones, less than 768px)
// @media (max-width: 767.98px) {}

// // Medium devices (tablets, less than 992px)
// @media (max-width: 991.98px) {}

// // Large devices (desktops, less than 1200px)
// @media (max-width: 1199.98px) {}