/* ==========================================================================
   FONTS & SIZES
   ========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,600,700,800,900|Hind:300,400,600,700,800,900|Open+Sans&display=swap');

.lucky-fellas {
    font-family: 'LuckyFellas', cursive, serif;
    font-weight: normal;
    font-style: normal;
}

$font-family-sans-serif:
'Oxygen',
'Hind',
'Open Sans',
Arial,
sans-serif;

@mixin font-size($minSizeValue, $middleValue, $maxSizeValue, $addToLineHight: 0, $important:"") {
    // PX value passed & if we need to add !important
    $baseSizeValue: 0; // Set default
    $minFontSize: ($baseSizeValue + $minSizeValue); // Calc min font size as px
    $maxFontSize: ($baseSizeValue + $maxSizeValue); // Calc max font size as px

    $minRemValue: ($minSizeValue / 10); // Calc font sizeas as rem
    //s$addToLineHight: 4;
    $lineHeight: 1.2; // Calc line height

    font-size: $maxFontSize + px + unquote($important); // Print font size in px (fallback)
    //font-size: $minRemValue + rem + unquote($important); // Print font size in rem
    font-size: clamp($minFontSize + px, $middleValue, $maxFontSize + px) + unquote($important);
    line-height: $lineHeight + $addToLineHight +unquote($important); // Print line height
}

// Line-height Crop — a simple CSS formula to remove top space from your text
// https://medium.com/codyhouse/line-height-crop-a-simple-css-formula-to-remove-top-space-from-your-text-9c3de06d7c6f
@mixin lhCrop($line-height) {
    &::before {
        content: '';
        display: block;
        height: 0;
        width: 0;
        margin-top: calc((1 - #{$line-height}) * 0.5em);
    }
}

@mixin extra-bold($style: normal, $color: "") {
    font-family: $font-family-sans-serif;
    font-size-adjust: 0.49;
    font-weight: 900;
    font-style: $style;
    text-shadow: #{$color} 0px 2px,
    2px 0px,
    2px 2px;
}

@mixin bold($style: normal) {
    font-family: $font-family-sans-serif;
    font-size-adjust: 0.49;
    font-weight: 700;
    font-style: $style;
}

@mixin regular($style: normal) {
    font-family: $font-family-sans-serif;
    font-size-adjust: 0.48;
    font-weight: 400;
    font-style: $style;
}

@mixin light($style: normal) {
    font-family: $font-family-sans-serif;
    font-size-adjust: 0.44;
    font-weight: 300;
    font-style: $style;
}

// NOTE:
// Handling Long Words and URLs - https://goo.gl/sefjMI
@mixin word-wrap() {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

// html {
//     font-size: 62.5%; /* Sets up the Base 10 stuff */
// }

body {
    //@include regular(light);
    font-family: $font-family-sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .font-weight--extra-bold {
        @include extra-bold;
    }

    strong,
    .font-weight--bold {
        @include bold;
    }

    .font-weight--normal {
        @include regular;
    }

    .font-weight--light {
        @include light;
    }


    p,
    li {
        widows: 3;
        orphans: 3;
    }

    p {
        // margin-bottom: 0.5rem;
    }

    a {
        cursor: pointer;
    }

    ul {}

    ol {}

    // makes sure these words are on the same line.
    .no-wrapped-text {
        display: inline-block;
        font-style: normal;
    }
}